<html lang="en"> {% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'HeadHall/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'HeadHall/css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'HeadHall/css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'HeadHall/css/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'HeadHall/css/toggle-switch.css' %}" /> <!-- https://ghinda.net/css-toggle-switch/ -->
    <link rel="stylesheet" href="{% static 'HeadHall/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'HeadHall/css/w3-theme-teal.css' %}">
    <link rel="stylesheet" href="{% static 'HeadHall/css/easy-button.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <link rel="stylesheet"
          media="screen and (min-width: 300px) and (max-width: 800px)"
          href="{% static 'HeadHall/css/screen_sizes/mobile-layout.css' %}" />

    <link rel="stylesheet"
          media="screen and (min-width: 801px)"
          href="{% static 'HeadHall/css/screen_sizes/desktop-layout.css' %}" />

    <title> indoorGIS: HeadHall </title>
    <link rel="icon" href="{% static 'HeadHall/images/GISIcon.ico' %}">

    <style>
    
        .leaflet-container {
            background-color:rgba(255,0,0,0.0);
            border: 1px solid black;
        }
        input[type=text] {
            border: none;
            border-bottom: 1px solid purple;
            width: 300px;
            background-color: #F5F5F5;
        }
        img:hover {
            cursor: pointer;
        }
        input[type="reset"] {
            background-image: url( {% static 'HeadHall/images/reset.png' %} );
            background-position: center center;
            background-repeat: no-repeat;
            height: 32px;
            width: 32px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;
            top: -3px;
            left: -40px;
        }
        #lsteps, #llift {
            cursor: pointer;
        }
        .leaflet-tooltip.labelstyle {
            background-color: transparent;
            border: transparent;
            box-shadow: none;
        }
        .categories, .categories ul {
            list-style: none;
        }
        .categories li {
            position: relative;
        }
        .categories li a {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #333;
            text-decoration: none;
            outline: 0 none;
        }
        .categories ul:before {
            position: absolute;
            border-left: 1px dotted #333;
            content: "";
            width: 30px;
            top: 25px;
            left: 5px;
            bottom: 17px;
        }
        .categories ul > li:before {
            position: absolute;
            border-top: 1px dotted #333;
            content: "";
            width: 30px;
            top: 13px;
            left: -33px;
        }
        .w3-white {
            background-color:#F5F5F5 !important;
        }
        a {
            color: blue;
            text-decoration: underline blue;
        }
        .carousel-inner .item {
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }
        .categories {
            padding-left: 20px;
        }
        .leaflet-bar button {
            padding-top:9px;
        }
        .leaflet-tooltip {
            color: black;
            display: none;
            font-size: 14;
        }
        
    </style>

</head>
<body style="background-color:#F5F5F5">

    <script src="{% static 'HeadHall/js/jquery-3.3.1.js' %}"> </script>
    <script src="{% static 'HeadHall/js/jquery-ui.js' %}"> </script>
    <script src="{% static 'HeadHall/js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'HeadHall/js/leaflet.js' %}"> </script>
    <script src="{% static 'HeadHall/js/metismenu.js' %}"></script>
    <script src="{% static 'HeadHall/js/w3codecolor.js' %}"></script>
    <script src="{% static 'HeadHall/js/easy-button.js' %}"></script>

    <div class="w3-sidebar w3-collapse w3-white w3-animate-left w3-large" style="z-index:3;width:375px;border:1px groove black" id="mySidebar">

        <div class="w3-bar w3-black w3-center">
            <a class="w3-bar-item w3-button" style="width:25%" href="javascript:void(0)" id="nav01i" onclick="openNav('nav01')">
            <img title="Search" src="{% static 'HeadHall/images/search-icon.png' %}"></a>

            <a class="w3-bar-item w3-button" style="width:25%" href="javascript:void(0)" id="nav02i" onclick="openNav('nav02')">
            <img title="Routing" src="{% static 'HeadHall/images/directions-icon.png' %}"></a>

            <a class="w3-bar-item w3-button" style="width:25%" href="javascript:void(0)" id="nav03i" onclick="openNav('nav03')">
            <img title="Categories" src="{% static 'HeadHall/images/categories-icon.png' %}" width=65 height=65></a>

            <a class="w3-bar-item w3-button" style="width:25%" href="javascript:void(0)">
            <img title="Clear" src="{% static 'HeadHall/images/clear.png' %}" onclick="clearFunc()"></a>
        </div>

        <div id="nav01" class="w3-bar-block" style="background-color:#F5F5F5; padding-left:20px">
            <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">
            <i class="fas fa-arrow-left"></i></a>
            <br>
            <p style="font-size:15px; font-family:'Courier New'">(Enter atleast two characters)</p>
            Search for <br> <input type="text" id="searchBox" /> <input type="reset" id="srchReset" value=""/>
            <script>$("#searchBox").focus()</script>
            <br><br>
            <button class="btn btn-primary" onclick="search()"> Find </button> &emsp;
            <button class="btn btn-success" id="directions" hidden> Directions </button>
            <br><br>
            <div id="srchResult"> </div>
        </div>

        <div id="nav02" style="background-color:#F5F5F5; padding-left:20px">
            <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">
            <i class="fas fa-arrow-left"></i></a>
            <br>
            <p style="font-size:15px; font-family:'Courier New'">(Enter atleast two characters)</p>
            From <br> <input type="text" id="from" /> <input type="reset" id="fromReset" value="" />
            <i class="fas fa-sort" id="swap" style="cursor:pointer; font-size:25px; padding-left:310px; padding-top:20px"></i>
            <br>
            To <br> <input type="text" id="to" /> <input type="reset" id="toReset" value="" />
            <br><br>
            <div style="display:flex">
                <div id="steps_lift" class="switch-toggle switch-candy switch-candy-green">
                    <input id="steps" value="Steps" name="mode" type="radio" checked>
                    <label id="lsteps" for="steps" onclick="">Stairs</label>
                    <input id="lift" value="Lift" name="mode" type="radio">
                    <label id="llift" for="lift" onclick="">Elevator</label>
                    <a></a>
                </div>  &emsp;
                <button class="btn btn-primary" onclick="routeFromTo()"> Show Route </button>
            </div>
            <br><br>
            <div id="route_diff_level" hidden>
                <a id="continue_result" style="cursor:pointer">Continue</a>
            </div>
            <br><br>
            <p style="font-size:15px; font-family:'Courier New'">
                Entrances: <br>
                <a href="#" onclick="$('#from').val('C-Lvl: Windsor St (CS)')">Windsor St Entrance (CS side)</a> <br>
                <a href="#" onclick="$('#from').val('C-Lvl: Windsor St (other)')">Windsor St Entrance (other side)</a> <br>
                <a href="#" onclick="$('#from').val('C-Lvl: Dineen Dr (CS)')">Dineen Dr Entrance (CS side)</a> <br>
                <a href="#" onclick="$('#from').val('D-Lvl: Dineen Dr (Engg)')">Dineen Dr Entrance (Engg. side)</a> <br>
                <a href="#" onclick="$('#from').val('D-Lvl: Dineen Dr (other)')">Dineen Dr Entrance (other)</a>
            </p>           
        </div>

        <div id="nav03" style="background-color:#F5F5F5; padding-left:20px">
            <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">
            <i class="fas fa-arrow-left"></i></a>
            <div id="cat" style="overflow-y: auto">
              <br>
              <ul class="categories">
                  <div id="catContent">  </div>
              </ul>
            </div>
        </div>

    </div>

    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
    <div class="w3-main" style="margin-left:100px;">

        <div class="w3-top w3-theme w3-large w3-hide-large">
          <i class="fa fa-bars w3-button w3-teal w3-xlarge" onclick="w3_open()"></i>
          HeadHall - indoorGIS
        </div>

        <div class="container">
            <center> <br><br>
                <div id="cmap" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                       <div class="item active">
                           <div id="ELevel"> </div>
                       </div>
                       <div class="item">
                           <div id="DLevel"> </div>
                       </div>
                       <div class="item">
                           <div id="CLevel"> </div>
                       </div>
                       <div class="item">
                           <div id="BLevel"> </div>
                       </div>
                     </div>
                </div>
                <span class="col-sm-0 hidden-xs hidden-s">
                    <br>
                    <img style="display:inline-block" src="{% static 'HeadHall/images/Legend.png' %}" width=20% height=20%>
                    <br>
                </span>
                <br>
                    <a href="javascript:void(0)" onclick="$('#cmap').carousel(0);eLevel.invalidateSize();resetStyle();">E Level</a> |
                    <a href="javascript:void(0)" onclick="$('#cmap').carousel(1);dLevel.invalidateSize();resetStyle();">D Level</a> |
                    <a href="javascript:void(0)" onclick="$('#cmap').carousel(2);cLevel.invalidateSize();resetStyle();">C Level</a> |
                    <a href="javascript:void(0)" onclick="$('#cmap').carousel(3);bLevel.invalidateSize();resetStyle();">B Level</a>
                <br>
                <a href="#about" data-toggle="modal">About</a> -
                <a href="/admin/" target="_blank">Admin Page</a> -
                <a href="https://github.com/VaasuDevanS/indoorGIS" target="_blank">Github</a> -
                <a href="https://indoorgis.readthedocs.io/en/latest/" target="_blank">Documentation</a>
                <span class="col-sm-0 hidden-lg hidden-md">- <a href="#legend" data-toggle="modal">Legend</a> </span>
                
            </center>
        </div> <br> <!-- container div close -->

    	<div id="about" class="modal fade">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal"
    						aria-hidden="true">&times;</button>
    					<h4 class="modal-title">indoorGIS</h4>
    				</div>
    				<div class="modal-body">
    				    <img src="{% static 'HeadHall/images/UNBLogo.jpg' %}" width=200 height=100>
    				    <img src="{% static 'HeadHall/images/GGELogo.gif' %}" width=100 height=100> <br> <br>
    					<b> Directed Research Project - 2019 </b><br>
    					WebApp for finding Faculties, Facilities, Routing and more <br>
    					Supervisor: <a href="https://www.unb.ca/faculty-staff/directory/engineering-geomatics/jabari-shabnam.html" target="_blank">Shabnam Jabari</a><br>
    					Developer: <a href="https://vaasudevans.github.io/" target="_blank">Vaasudevan Srinivasan</a> <br> <br>
    					<a href="https://www.unb.ca/" target="_blank">UNB Homepage</a> |
    					<a href="https://www.unb.ca/fredericton/engineering/depts/gge/index.html" target="_blank">GGE Homepage</a>
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    				</div>
    			</div>
    		</div>
    	</div> <!-- about modal -->

    	<div id="legend" class="modal fade">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal"
    						aria-hidden="true">&times;</button>
    					<h4 class="modal-title">Legend</h4>
    				</div>
    				<div class="modal-body">
                        <img src="{% static 'HeadHall/images/Legend.png' %}" width=100% height=40%>
    				    <!-- <div id="fields" style="overflow: auto; height: 60%"> </div> -->
    				</div>
    				<div class="modal-footer">
    					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    				</div>
    			</div>
    		</div>
    	</div> <!-- legend modal close -->

	</div> <!-- w3 div close -->


<script>

function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
  $("#from").focus();
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

function openNav(id) {
  navs = ["nav01", "nav02", "nav03"];
  for(i=0; i<3; i++){
      document.getElementById(navs[i]).style.display = "none";
      $("#"+navs[i]+"i").css("background-color", "black");
  }
  document.getElementById(id).style.display = "block";
  $("#"+id+"i").css("background-color", "#ccc");
}

$(function() {

    openNav("nav01");
    
    // http://output.jsbin.com/uloli3/63
    $("#srchReset").click(function() {
        $("#searchBox").val("").focus();
        resetStyle();
    })
    $("#fromReset").click(function() {
        markerArray = [];
        EblkLyr.setStyle(styleFunc());
        $("#from").val("").focus();
        eLevel.removeLayer(markerGroup);
    })
    $("#toReset").click(function() {
        markerArray = [];
        EblkLyr.setStyle(styleFunc());
        $("#to").val("").focus()
        eLevel.removeLayer(markerGroup);
    })
    $("#swap").click(function() {
        temp = $("#to").val();
        $("#to").val($("#from").val());
        $("#from").val(temp);
    })
    $("#directions").click(function() {
        openNav("nav02");
        $("#from").focus();
        $("#to").val($("#searchBox").val())
    })


    $.ajax({url: "{% url 'loadFields' %}",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "POST",
            success: function(flds) {
                $("input[type=text]").autocomplete({
                    source: eval(flds),
                    minLength:2
                });
                tmpFlds = [];
                for (i in eval(flds)) {
                    tmpFlds.push(eval(flds)[i].label+"<br>")
                }
                $("#fields").html(tmpFlds)
            }
    });

    $.ajax({url: "{% url 'loadCategories' %}",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "POST",
            success: function(catContent) {
                $("#catContent").html(catContent);
                $('.categories').metisMenu({ toggle: true });
            }
    });

    // Leaflet function
    $.ajax({url: "{% url 'loadJSON' %}",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "POST",
            success: function(Blocks) {
                allBlks = eval(Blocks)
                // E-Level
                EblkLyr = L.geoJSON(JSON.parse(allBlks[0]), {
                                    style: styleFunc,
                                    onEachFeature: onEachFeatureFunc
                }).addTo(eLevel);
                // D-Level
                DblkLyr = L.geoJSON(JSON.parse(allBlks[1]), {
                                    style: styleFunc,
                                    onEachFeature: onEachFeatureFunc
                }).addTo(dLevel);
                // C-Level
                CblkLyr = L.geoJSON(JSON.parse(allBlks[2]), {
                                    style: styleFunc,
                                    onEachFeature: onEachFeatureFunc
                }).addTo(cLevel);
                // B-Level
                BblkLyr = L.geoJSON(JSON.parse(allBlks[3]), {
                                    style: styleFunc,
                                    onEachFeature: onEachFeatureFunc
                }).addTo(bLevel);
            }
    });

});

function search() {
    $("#directions").show();
    $.ajax({url: "{% url 'searchBox' %}",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "POST",
            data: {keyword: $("#searchBox").val()},
            success: searchFunc
    });
}

function return_feature(lyr, Oid) {
    for (i in lyr._layers) {
        f = lyr._layers[i].feature.properties;
        if (f.OBJECTID == Oid){
            return [f, i];
        }
    }
}

function searchFunc(Oid_lvl) {

    Oid = eval(Oid_lvl)[0];
    lvl = eval(Oid_lvl)[1];
    fac = eval(Oid_lvl)[2];
    blkLyr = [EblkLyr, DblkLyr, CblkLyr, BblkLyr][lvl];
    level = [eLevel, dLevel, cLevel, bLevel][lvl];
    f_i = return_feature(blkLyr, Oid); f = f_i[0]; i = f_i[1];

    // Info about the searched feature
    cntnt = "";
    if (f.PersonName != null) {
        cntnt += "<i class='fas fa-user-alt'></i> " + f.PersonName + "<br>" }
    if (f.PlaceName != null) {
        cntnt +=  "<i class='fas fa-map-marker-alt'></i> " + f.PlaceName + "<br>" }
    if (f.Contact != null) {
        cntnt += "<i class='fas fa-mobile'></i> " + f.Contact + "<br>" }
    if (f.Email != null) {
        cntnt += "<i class='fas fa-envelope'></i> " + f.Email + "<br>" }
    if (f.Details != null) {
        cntnt += "<b>Other Info: </b><br>" +
                  f.Details.replace(/,/g, "<br>") }

    // Set styles and open Popup
    EblkLyr.setStyle(styleFunc());
    DblkLyr.setStyle(styleFunc());
    CblkLyr.setStyle(styleFunc());
    BblkLyr.setStyle(styleFunc());
    blkLyr._layers[i].setStyle(selectStyle());
    blkLyr._layers[i].openPopup();

    $('#cmap').carousel(lvl);
    level.fitBounds(blkLyr._layers[i]._bounds.pad(-2));
    level.invalidateSize();
    w3_close();

    if (fac != undefined) {
        cntnt += "<br><br><u>Near Me</u><br>"

        // Nearest Male washroom
        m_w = return_feature(blkLyr, fac[0])[0];
        cntnt += "<i class='fas fa-male'></i> " + m_w.PlaceName;
        cntnt += `<a href="#" onclick='searchFunc("[${fac[0]}, ${lvl}]")'><i class="fas fa-search-location"></i></a> <br>`;

        // Nearest Female washroom
        f_w = return_feature(blkLyr, fac[1])[0];
        cntnt += "<i class='fas fa-female'></i> " + f_w.PlaceName;
        cntnt += ` <a href="#" onclick='searchFunc("[${fac[1]}, ${lvl}]")'><i class="fas fa-search-location"></i></a> <br>`;

        // Nearest Steps
        steps = return_feature(blkLyr, fac[2])[0];
        cntnt += "<i class='fas fa-walking'></i> " + steps.PlaceName;
        cntnt += ` <a href="#" onclick='searchFunc("[${fac[2]}, ${lvl}]")'><i class="fas fa-search-location"></i></a> <br>`;

        // Nearest Elevator
        elevator = return_feature(blkLyr, fac[3])[0];
        cntnt += "<i class='fas fa-person-booth'></i> " + elevator.PlaceName;
        cntnt += ` <a href="#" onclick='searchFunc("[${fac[3]}, ${lvl}]")'><i class="fas fa-search-location"></i></a> <br>`;

        // Nearest Water Fountatin
        cntnt += "<br>"

    }

    if ($("#searchBox").val() != "") {
        $("#srchResult").html(cntnt); }

}



function routeFromTo() {
    $.ajax({url: "{% url 'from_to_route' %}",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "POST",
            data: {from: $("#from").val(),
                   to: $("#to").val(),
                   mode: $("input[name='mode']:checked").val()
            },
            success: routeFunc
    });
}



// Generate route (necessary for routeFromTo function)
function routeFunc(input_from_python) {

    //console.log(input_from_python);

    function show_result(extnt_pts, diff_level=0) {

        // Create markers and zoom to highlighted blocks extent
        bounds = [[extnt_pts[0][3], extnt_pts[0][2]],
                  [extnt_pts[0][1], extnt_pts[0][0]]];

        level = [eLevel, dLevel, cLevel, bLevel][extnt_pts[3]]
        lyr = [EblkLyr, DblkLyr, CblkLyr, BblkLyr][extnt_pts[3]]

        // Highlight Blocks
        for (i in lyr._layers) {
            blk = lyr._layers[i];
            if ($.inArray(blk.feature.properties.OBJECTID, extnt_pts[2]) != -1) {
                blk.setStyle(selectStyle())
            }
        }
                                     
        if (diff_level == 1) {
        
            markerArray1 = [];
            for (pt of extnt_pts[1]) {
              markerArray1.push(pt);
              bounds.push(pt);
            }
        
            markerGroup1 = new L.Polyline(markerArray1, 
                                     { color: 'red',
                                       weight: 3,
                                       opacity: 1,
                                       smoothFactor: 1
                                     }).addTo(level)
        }
        else {
        
            markerArray = [];
            for (pt of extnt_pts[1]) {
              markerArray.push(pt);
              bounds.push(pt);
            }
        
            markerGroup = new L.Polyline(markerArray, 
                                     { color: 'red',
                                       weight: 3,
                                       opacity: 1,
                                       smoothFactor: 1
                                     }).addTo(level)
        }
         
        $('#cmap').carousel(extnt_pts[3]);
        level.invalidateSize();
        level.fitBounds(bounds);

    }
    
    var lvl_results = eval(input_from_python);
    show_result(lvl_results[1], lvl_results[0]);

    if (lvl_results[0] == 1) {
        $("#continue_result").on("click", function(){
            show_result(lvl_results[2])
        });
        $("#route_diff_level").show();
        $("#continue_result").html("Continue");
        $("#continue_result").append(" on " + "EDCB"[lvl_results[2][3]] + "-Level");
    }

    w3_close();
}

// Reset page
function clearFunc() {

    $("#searchBox").val(''); $("#from").val(''); $("#to").val('');
    $("#searchBox").focus(); $("#from").focus();
    
    resetStyle();
    window.location.reload();
    
    eLevel.removeLayer(markerGroup);
    dLevel.removeLayer(markerGroup);
    cLevel.removeLayer(markerGroup);
    bLevel.removeLayer(markerGroup);
    eLevel.removeLayer(markerGroup1);
    dLevel.removeLayer(markerGroup1);
    cLevel.removeLayer(markerGroup1);
    bLevel.removeLayer(markerGroup1);
    $("#route_diff_level").hide();
       
}

function resetStyle() {
    $("#directions").hide();
    $("#srchResult").html("");
    EblkLyr.setStyle(styleFunc());
    DblkLyr.setStyle(styleFunc());
    CblkLyr.setStyle(styleFunc());
    BblkLyr.setStyle(styleFunc());
    eLevel.setZoom(2.45);
    dLevel.setZoom(2.45);
    cLevel.setZoom(2.45);
    bLevel.setZoom(2.45);
    eLevel.closePopup();
    dLevel.closePopup();
    cLevel.closePopup();
    bLevel.closePopup();
}


// ----------------------------- Leaflet --------------------------------------

let markerArray = []; // Global

function onEachFeatureFunc(feature, layer) {

    // Tooltip (Labeling)
    layer.bindTooltip(feature.properties.PlaceName, {
                       permanent: true,
                       direction: 'center',
                       className: 'labelstyle',
                      });
                      
    if (feature.properties.PlaceName != null) {
        if(feature.properties.PlaceName.startsWith('Lift') == true)
            layer.bindTooltip(`<img src="{% static 'HeadHall/images/elevator.png' %}" width=50 height=50>`)
        if(feature.properties.PlaceName.startsWith('Steps') == true)
            layer.bindTooltip(`<img src="{% static 'HeadHall/images/stairs.png' %}" width=50 height=50>`)
    }

    // Popup Content
    var content = "";
    if (feature.properties.PersonName != null) {
        content += "<i class='fas fa-user-alt'></i> " + feature.properties.PersonName + "<br>"; }
    if (feature.properties.PlaceName != null) {
        content += "<i class='fas fa-map-marker-alt'></i> " + feature.properties.PlaceName; }
    layer.bindPopup(content);
    layer.on('mouseover', function(f) { f.target.setStyle(selectStyle()) });
    layer.on('mouseout', function(f) { 
        f.target.setStyle(styleFunc());
        layer.closePopup();
    });
    // layer.off('click', this.openPopup);

}


// Icon for the route
var footpath = L.icon({
    iconUrl: "{% static 'HeadHall/images/walking.png' %}",
    iconSize: [20,20]
});

function styleFunc() { return {weight:0.2, fillOpacity:0, opacity:0.5, color:"red"} }
function selectStyle() { return {color:"#00FFFF", fillOpacity:0.5} }

levelConfig = { minZoom: 2.45,
                maxZoom: 5,
                crs: L.CRS.Simple,
                maxBounds: [[0, 0], [90, 180]],
                maxBoundsViscosity: 1.0,
                attributionControl: false,
              }
var bounds = [[0, 0], [90, 180]];
var opacity = {opacity: 0.6};

// E-Level
url = "{% static 'HeadHall/baseimages/E_Level.png' %}";
var eLevel = L.map('ELevel', levelConfig);
L.imageOverlay(url, bounds, opacity).addTo(eLevel);
eLevel.fitBounds(bounds);

// D-Level
url = "{% static 'HeadHall/baseimages/D_Level.jpg' %}";
var dLevel = L.map('DLevel', levelConfig);
L.imageOverlay(url, bounds, opacity).addTo(dLevel);
dLevel.fitBounds(bounds);

// C-Level
url = "{% static 'HeadHall/baseimages/C_Level.jpg' %}";
var cLevel = L.map('CLevel', levelConfig);
L.imageOverlay(url, bounds, opacity).addTo(cLevel);
cLevel.fitBounds(bounds);

// B-Level
url = "{% static 'HeadHall/baseimages/B_Level.jpg' %}";
var bLevel = L.map('BLevel', levelConfig);
L.imageOverlay(url, bounds, opacity).addTo(bLevel);
bLevel.fitBounds(bounds);

L.easyButton({
  states: [{
    stateName: 'show-labels',
    icon: 'fa-infinity',
    title: 'Show Labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "block");
      control.state('remove-labels');
    }
  }, {
    icon: 'fa-undo',
    stateName: 'remove-labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "none");
      control.state('show-labels');
    },
    title: 'Hide Labels'
  }]
}).addTo(eLevel);

L.easyButton({
  states: [{
    stateName: 'show-labels',
    icon: 'fa-infinity',
    title: 'Show Labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "block");
      control.state('remove-labels');
    }
  }, {
    icon: 'fa-undo',
    stateName: 'remove-labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "none");
      control.state('show-labels');
    },
    title: 'Hide Labels'
  }]
}).addTo(dLevel);

L.easyButton({
  states: [{
    stateName: 'show-labels',
    icon: 'fa-infinity',
    title: 'Show Labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "block");
      control.state('remove-labels');
    }
  }, {
    icon: 'fa-undo',
    stateName: 'remove-labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "none");
      control.state('show-labels');
    },
    title: 'Hide Labels'
  }]
}).addTo(cLevel);

L.easyButton({
  states: [{
    stateName: 'show-labels',
    icon: 'fa-infinity',
    title: 'Show Labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "block");
      control.state('remove-labels');
    }
  }, {
    icon: 'fa-undo',
    stateName: 'remove-labels',
    onClick: function(control) {
      $('.leaflet-tooltip').css("display", "none");
      control.state('show-labels');
    },
    title: 'Hide Labels'
  }]
}).addTo(bLevel);

</script>

</body>
</html>