#ELevel {
    width: 100%;
    height: 435px
}
#DLevel {
    width: 100%;
    height: 435px
}
#CLevel {
    width: 100%;
    height: 435px
}
#BLevel {
    width: 100%;
    height: 435px
}
.categories li a {
    font-size: 13.5;
}
#steps_lift {
    width: 57%;
    height: 33px;
}
#legendmobile {
    visibility: visible;
}
